In [1]:
%load_ext sql
DB_ENDPOINT = '127.0.0.1'
DB = 'sakila'
DB_USER = 'postgres'
DB_PASSWORD = '1234'
DB_PORT = '5432'

conn_string = 'postgresql://{}:{}@{}:{}/{}'\
                .format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB)
print(conn_string)
%sql $conn_string

postgresql://postgres:1234@127.0.0.1:5432/sakila

In [2]:
%%sql
CREATE TABLE dimDate
(
    date_key int NOT NULL PRIMARY KEY,
    date date NOT NULL,
    year smallint NOT NULL,
    quarter smallint NOT NULL,
    month smallint NOT NULL,
    day smallint NOT NULL,
    week smallint NOT NULL,
    is_weekend boolean
);

 * postgresql://postgres:***@127.0.0.1:5432/sakila
(psycopg2.errors.DuplicateTable) relation "dimdate" already exists

[SQL: CREATE TABLE dimDate (
    date_key int NOT NULL PRIMARY KEY,
    date date NOT NULL,
    year smallint NOT NULL,
    quarter smallint NOT NULL,
    month smallint NOT NULL,
    day smallint NOT NULL,
    week smallint NOT NULL,
    is_weekend boolean
);]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [7]:
%%sql
SELECT column_name, data_type
FROM information_schema.columns
WHERE table_name   = 'dimdate'

 * postgresql://postgres:***@127.0.0.1:5432/sakila
8 rows affected.

[('date_key', 'integer'),
 ('date', 'date'),
 ('year', 'smallint'),
 ('quarter', 'smallint'),
 ('month', 'smallint'),
 ('day', 'smallint'),
 ('week', 'smallint'),
 ('is_weekend', 'boolean')]

In [17]:
%%sql
CREATE TABLE dimCustomer
(
  customer_key SERIAL PRIMARY KEY,
  customer_id  smallint NOT NULL,
  first_name   varchar(45) NOT NULL,
  last_name    varchar(45) NOT NULL,
  email        varchar(50),
  address      varchar(50) NOT NULL,
  address2     varchar(50),
  district     varchar(20) NOT NULL,
  city         varchar(50) NOT NULL,
  country      varchar(50) NOT NULL,
  postal_code  varchar(10),
  phone        varchar(20) NOT NULL,
  active       smallint NOT NULL,
  create_date  timestamp NOT NULL,
  start_date   date NOT NULL,
  end_date     date NOT NULL
);

CREATE TABLE dimMovie
(
  movie_key          SERIAL PRIMARY KEY,
  film_id            smallint NOT NULL,
  title              varchar(255) NOT NULL,
  description        text,
  release_year       year,
  language           varchar(20) NOT NULL,
  original_language  varchar(20),
  rental_duration    smallint NOT NULL,
  length             smallint NOT NULL,
  rating             varchar(5) NOT NULL,
  special_features   varchar(60) NOT NULL
);

CREATE TABLE dimStore
(
  store_key           SERIAL PRIMARY KEY,
  store_id            smallint NOT NULL,
  address             varchar(50) NOT NULL,
  address2            varchar(50),
  district            varchar(20) NOT NULL,
  city                varchar(50) NOT NULL,
  country             varchar(50) NOT NULL,
  postal_code         varchar(10),
  manager_first_name  varchar(45) NOT NULL,
  manager_last_name   varchar(45) NOT NULL,
  start_date          date NOT NULL,
  end_date            date NOT NULL
);

 * postgresql://postgres:***@127.0.0.1:5432/sakila
(psycopg2.errors.DuplicateTable) relation "dimcustomer" already exists

[SQL: CREATE TABLE dimCustomer (
  customer_key SERIAL PRIMARY KEY,
  customer_id  smallint NOT NULL,
  first_name   varchar(45) NOT NULL,
  last_name    varchar(45) NOT NULL,
  email        varchar(50),
  address      varchar(50) NOT NULL,
  address2     varchar(50),
  district     varchar(20) NOT NULL,
  city         varchar(50) NOT NULL,
  country      varchar(50) NOT NULL,
  postal_code  varchar(10),
  phone        varchar(20) NOT NULL,
  active       smallint NOT NULL,
  create_date  timestamp NOT NULL,
  start_date   date NOT NULL,
  end_date     date NOT NULL
);]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [16]:
%%sql
CREATE TABLE factSales
(
    sales_key Serial NOT NULL PRIMARY KEY,
    date_key int NOT NULL,
    customer_key int NOT NULL,
    movie_key int NOT NULL,
    store_key int NOT NULL,
    sales_amount numeric NOT NULL
);

 * postgresql://postgres:***@127.0.0.1:5432/sakila
(psycopg2.errors.DuplicateTable) relation "factsales" already exists

[SQL: CREATE TABLE factSales (
    sales_key Serial NOT NULL PRIMARY KEY,
    date_key int NOT NULL,
    customer_key int NOT NULL,
    movie_key int NOT NULL,
    store_key int NOT NULL,
    sales_amount numeric NOT NULL
);]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [18]:
%%sql
SELECT column_name, data_type
FROM information_schema.columns
WHERE table_name   = 'factsales'

 * postgresql://postgres:***@127.0.0.1:5432/sakila
6 rows affected.

[('sales_key', 'integer'),
 ('date_key', 'integer'),
 ('customer_key', 'integer'),
 ('movie_key', 'integer'),
 ('store_key', 'integer'),
 ('sales_amount', 'numeric')]